<nav class="navbar">

    <div class="container">
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a id="back-button" href="/">
                        <span class="fa fa-arrow-left"></span>&nbsp;
                        Back
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="icon icon-House"></span>
                        Home
                    </a>
                </li>

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="clearfix"></div>
<script>
    var previousUrl = document.referrer;
    if (previousUrl.indexOf("realtair.com") > -1) {
        var backLink = document.getElementById("back-button");
        backLink.addEventListener("click", function () {
            history.back();
            return false;
        });
    }
</script>