<div class="container hidden-xs" style="padding: 5px 5px;">
    <span class="pull-left">Powered by <a href="http://realtair.com/">Realtair</a> </span>
    <span class="pull-right">
        e: <a href="mailto:support@realtair.com">support@@realtair.com</a> |
        p: <a href="mailto:support@realtair.com">1300 299 357</a> |
        hours: 8:30 - 5:30
    </span>
</div>

<div class="container hidden-lg hidden-md hidden-sm text-center" style="padding: 5px 5px;">
    <span class="text-center">Powered by <a href="http://realtair.com/">Realtair</a> </span>
    <div class="text-center">
        e: <a href="mailto:support@realtair.com">support@@realtair.com</a>
    </div>
    <div class="text-center">
        p: <a href="mailto:support@realtair.com">1300 299 357</a>
    </div>
    <div class="text-center">
        hours: 8:30 - 5:30
    </div>
</div>
