<footer class="footer">
    <span class="powered">Powered by <a href="http://realtair.com/">Realtair</a> </span>    
    <span class="right-text">e: <a href="mailto:support@realtair.com">support@@realtair.com</a></span>
    <br />
    <span class="right-text">p: <a href="mailto:support@realtair.com">1300 299 357</a></span>
</footer>
