@using Realtair.Framework.Core.Web.Utilities
@model Realtair.Framework.Core.Actions.Providers.SearchResults
@{ Layout = ""; }

    @foreach (var result in Model.Value)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a href="@Html.Raw(result.GetUrl(Html.LoggedInUser(), Url))">
                        <b>@result.Description(Html.LoggedInUser())</b>
                        <i>@result.ActualType().Name.DisplaySafeName()</i>
                    </a>
                </div>
            </div>
        </li>
    }

    @if (Model.Value.Count() == 0)
    {
        <li class="list-group-item">
            <div class="empty-filler">
                <div class="circle-sm circle bg-inverse pull-left"><i class="ti-home"></i></div>
                <i class="m-l-15 m-t-10 m-b-5">No Campaigns</i>
            </div>
        </li>
    }