@model Realtair.Framework.Core.Reports.ReportViewModel
@Html.Partial("Menu")
<div id="page-wrapper" class="">
    <div class="container">
        @foreach (var section in Model.Widgets)
        {
            var widgetView = $"Widgets/_{section.GetType().Name.Substring(0, section.GetType().Name.Length - "Widget".Length)}";

            if (Html.ViewExists(widgetView))
            {
                Html.RenderPartial(widgetView, section);
            }
            else
            {
                <p>Cannot render widget view</p>
            }
        }
    </div>
</div>

@section Scripts {
    @Html.RenderDelayed()
}