@using Realtair.Framework.Enquiries.Entities
@using Realtair.Framework.Core.Web.Utilities
@using Realtair.Framework.Core.Entities.Display
@model Realtair.Framework.Core.Interfaces.IDisplayable

@Html.Partial("Menu")

<div id="page-wrapper" class="with-background">
    <div class="container">

        @foreach (var section in Model.Sections(Html.LoggedInUser()))
        {
            var widgetView = $"Widgets/_{section.GetType().Name.Substring(0, section.GetType().Name.Length - "Widget".Length)}";

            if (Html.ViewExists(widgetView))
            {
                Html.RenderPartial(widgetView, section);
            }
            else
            {
                <p>Cannot render widget view</p>
            }
        }

        @if (Model is IHasSettings)
        {
            <a href="/@Model.UrlSafeName()/@((Model as Entity).Id.ToString())/settings" class="button btn btn-default btn-rounded m-b-20 p-10" style="display: block;">Settings</a>
        }
    </div>
</div>

<footer class="footer text-center hidden-xs">Powered by Realtair</footer>
