@model Realtair.Framework.Core.Entities.Display.ActionsWidget

<div>
    @if (!string.IsNullOrEmpty(Model.Name))
    {
        <div class="panel-heading">Model.Name</div>
    }
    <div class="panel-wrapper collapse in" style="margin-bottom: 10px;">
        @foreach (var action in Model.Actions)
        {
            var user = Html.LoggedInUser();
            var db = action.Db;

            if (action.AccessibleTo(user, db))
            {
                <!-- Action Buttons -->
                <form class="inline" action="@action.GetUrl(Url)" method="@(action.Fields.Count() >= 1 ? "GET" : "POST")">
                    <input autofocus name="ReturnUrl" type="hidden" value="@Request.Url.AbsolutePath" />
                    <button class="btn btn-sm btn-info btn-outline btn-rounded m-l-10 m-b-10" type="submit">@action.Description(Html.LoggedInUser())</button>
                </form>
                <!-- End of Action Buttons -->
            }
        }
    </div>
</div>