@model Realtair.Framework.Core.Entities.Display.DetailWidget
<div class="panel">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-wrapper collapse in">
        <table class="table">
            <tbody>
                @foreach (var describable in Model.Details)
                {
                    <tr>
                        <th class="col-sm-4">@describable.Key</th>
                        <td data-key="@describable.Key">
                            @Html.Render(Url, describable.Value)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>