@model Realtair.Framework.Core.Entities.Display.TableWidget
<div class="panel">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-wrapper collapse in">
        <table class="table">
            <thead>
                <tr>                
                    @foreach (var column in Model.Header)
                    {
                        <th>@column</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Contents)
                {
                    <tr>
                        @foreach (var column in row)
                        {
                            <td>@column</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>