@model Realtair.Framework.Core.Entities.Display.TableWidget
<div class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-wrapper collapse in">
        <table class="table table-responsive">
            <thead>
                <tr>                
                    @foreach (var column in Model.Header)
                    {
                        <th class="col-xs-@(column.ColumnWidth)">@column.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Contents)
                {
                    <tr>
                        @foreach (var column in row)
                        {
                            <td>@column</td>
                        }
                    </tr>
                }

                @if (Model.Totals != null)
                {
                    <tr class="bg-inverse text-white">
                        @foreach (var total in Model.Totals)
                        {
                            <td>
                                @total
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>