@model Realtair.Framework.Core.Web.Controllers.ActionsController.ActionViewModel
<body id="page-confirmation" class="animate-in">
    <div class="loading" style="display: none;"><span class="message">Loading...</span></div>
    <div class="container text-center">
        <div class="content-table">
            <div class="content-vertical middle">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
                        <h1>@Model.Action.Description(Html.LoggedInUser())</h1>
                        <div class="pull-middle">
                            <a onclick="$('#main-form').submit()" class="btn-primary btn-lg btn">Confirm</a>
                            <a class="btn-warning btn-lg btn" href="/">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form style="display: none;" id="main-form" method="POST"></form>
</body>