@model Realtair.Framework.Core.Web.Controllers.ActionsController.ActionViewModel
@*@Html.Partial("Menu")



<div id="page-wrapper" class="with-background">
    <div class="panel panel-default container">
        <div class="content-table">
            <div class="content-vertical middle">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
                        <h1>@Model.Action.Description(Html.LoggedInUser())</h1>
                        <div class="pull-middle">
                            <a onclick="$('#main-form').submit()" class="btn-primary btn-lg btn">Confirm</a>
                            <a class="btn-warning btn-lg btn" href="/">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form style="display: none;" id="main-form" method="POST"></form>
</div>*@
@* New EmptyAction  *@

<div class="content bg-grey-lt">
    <div id="page-wrapper" class="padding-sides-sm pad-form-mob">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>
                    @Model.Action.Description(Html.LoggedInUser())
                </h2>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group margin-tb-md">
                            <div class="col-sm-12">
                                <ul class="pull-middle list-inline">
                                    <li><a onclick="$('#main-form').submit()" class="btn btn-task btn-form btn-trans-green uppercase">Confirm</a></li>
                                    <li><a href="/" class="btn btn-task btn-form btn-trans-grey uppercase">BACK</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <form style="display: none;" id="main-form" method="POST"></form>
            </div>
        </div>
    </div>
</div>