@model Realtair.Framework.Core.Actions.Field

<div class="form-group">
    <div class="col-md-3 col-sm-4">
        <label class="control-label">@Model.Label</label>
    </div>

    <div class="col-md-9 col-sm-8">
        <div id="@(Model.UniqueName)_upload" class="dropzone file-uploader">
            <div class="dz-default dz-clickable dz-message">
                <span>Drop files here to upload</span>
            </div>
        </div>
        <input name="@(Model.UniqueName)" id="@(Model.UniqueName)" type="hidden" value="[]" />
    </div>
</div>

@using (Html.Delayed())
{      
    <link rel="stylesheet" href="http://static.realtair.com/plugins/bower_components/dropzone-master/dist/dropzone.css" type="text/css" />
    <script src="http://static.realtair.com/plugins/bower_components/dropzone-master/dist/dropzone.js"></script>
    <script>
        Dropzone.autoDiscover = false;

        var d = $("#@(Model.UniqueName)_upload").dropzone({
            url: "/actions/functions/upload-attachment",
            addRemoveLinks: true,
            success: function (file, response) {
                var imageId = parseInt(response);
                var list = JSON.parse($('#@(Model.UniqueName)').val());
                list.push(imageId);
                $('#@(Model.UniqueName)').val(JSON.stringify(list));

                file.previewElement.setAttribute('data-documentid', imageId);
                file.previewElement.classList.add("dz-success");
            },
            error: function (file, response) {
                file.previewElement.classList.add("dz-error");
            },
            removedfile: function (file) {
                var list = JSON.parse($('#@(Model.UniqueName)').val());
                var imageId = parseInt(file.previewElement.getAttribute("data-documentid"));
                list = list.splice(list.indexOf(imageId) - 1, 1);
                $('#@(Model.UniqueName)').val(JSON.stringify(list));
                file.previewElement.parentElement.removeChild(file.previewElement);
                return true;
            }
        });

        d.on("removedFile", function (file) {
            alert("aaa!");
        });
    </script>
}