@model Realtair.Framework.Core.Actions.Field

@{
    var Date = Convert.ToDateTime(Model.Value);
}

<div class="form-group">
    <div class="col-md-3 col-sm-4">
        <label class="control-label">@Model.Label</label>
    </div>

    <div class="col-md-9 col-sm-8">
        <input name="@Model.UniqueName" type="date" value="@if (Date > DateTime.MinValue) { @Date.ToString("yyyy-MM-dd") }" class="form-control">
        @if (Model.HasError)
        {
            <span class="help-block">@Model.ErrorMessage</span>
        }
    </div>
</div>
