@using Realtair.Framework.Core.Actions.FieldAttributes
@model Realtair.Framework.Core.Actions.Field
@{
    var attribute = Model.FieldAttribute as FileUploadFieldAttribute;
    var acceptValue = string.IsNullOrEmpty(attribute.Filter) ? "text/csv,image/jpeg,image/png,application/pdf" : attribute.Filter.Trim();
}
<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">@Model.Label</label>
    <div class="col-sm-6">
        <input autofocus type="file" name="@(Model.UniqueName)[]" id="@Model.UniqueName" class="inputfile" data-multiple-caption="{count} files selected" multiple />
        <label for="@Model.UniqueName">
            <span></span> 
            <strong> 
                <i class="fa fa-upload"></i>Attach Files or Photos&hellip;
            </strong>
        </label>
    </div>
</div>

@using (Html.Delayed(null, "FileUploadField"))
{
    <script>
        'use strict';

        (function( document, window, index )
        {
            var inputs = document.querySelectorAll( '.inputfile' );
            Array.prototype.forEach.call( inputs, function( input )
            {
                var label = input.nextElementSibling, labelVal = label.innerHTML;

                input.addEventListener( 'change', function( e )
                {
                    var fileName = '';
                    if( this.files && this.files.length > 1 )
                        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                    else
                        fileName = e.target.value.split( '\\' ).pop();

                    if( fileName )
                        label.querySelector( 'span' ).innerHTML = fileName;
                    else
                        label.innerHTML = labelVal;
                });

                // Firefox bug fix
                input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
                input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
            });
        })(document, window, 0);
    </script>
}