@model Realtair.Framework.Core.Actions.Field

@{
    var paragraph = Model.Value as Realtair.Framework.Core.Entities.Display.ParagraphWidget;
}

<h4 class="no-margin-t margin-b-md">@paragraph.Text</h4>
