@model Realtair.Framework.Core.Actions.Field

@{
    var Paragraph = Model.Value as Realtair.Framework.Core.Entities.Display.ParagraphWidget;
}

<div class="panel">
    <p class="panel-heading">@Paragraph.Text</p>
</div>