@model Realtair.Framework.Core.Actions.Field

@{
    var paragraphWidget = Model.Value as Realtair.Framework.Core.Entities.Display.ParagraphWidget;
}

@if (paragraphWidget != null)
{
    <h4 class="no-margin-t margin-b-md">@paragraphWidget.Text</h4>
}
