@model Realtair.Framework.Core.Actions.Field

@{
    var Table = Model.Value as Realtair.Framework.Core.Entities.Display.TableWidget;
}

<table class="table table-striped well" style="width: 100%">
    <thead>
        <tr>
            @foreach (var h in Table.Header)
            {
                <th class="col-md-@h.ColumnWidth">@h.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Table.Contents)
            {
            <tr>
                @foreach (var item in row)
                {
                    <td>@item</td>
                }
            </tr>
        }

        @if (Table.Totals != null)
            {
            <tr style="background: #222; color: #fff;">
                @foreach (var item in Table.Totals)
                {
                    <td>@item</td>
                }
            </tr>
        }
    </tbody>
</table>