@model Realtair.Framework.Core.Actions.Field

<div class="form-group">
    <div class="col-md-3 col-sm-4">
        <label class="control-label">@Model.Label</label>
    </div>

    <div class="col-md-9 col-sm-8">
        <input name="@Model.UniqueName" 
               type="time" 
               value="@(((TimeSpan)Model.Value))" 
               class="form-control"
               onblur="validateInput(this);">
    </div>
</div>

@using (Html.Delayed(null, "time-span-field"))
{
    <script type="text/javascript">
        // Reset value to 12:00AM if the input is invalid...
        function validateInput(e) {
            if (!e.validity.valid) {
                e.value = "00:00:00"
            }
        }
    </script>
}