@model Realtair.Framework.Core.Actions.Field

<div class="form-group">
    <label class="col-sm-3 control-label">@Model.Label</label>
    <div class="col-sm-3">
        <input type="text" class="form-control lite mytimepicker" name="@Model.UniqueName" placeholder="Click to select time" value="@(((TimeSpan)Model.Value))">
    </div>
</div>

@using (Html.Delayed(null, "time-span-field"))
{
    <link rel="stylesheet" href="https://static.realtair.com/plugins/bower_components/bootstrap-timepicker/css/bootstrap-timepicker.min.css" type="text/css" />
    <script src="https://static.realtair.com/plugins/bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.mytimepicker').timepicker({
              defaultTime: 'current',
              minuteStep: 1
            });
        })
    </script>
}